* {
  background-color: black;
  color: white;
}
h1 {
  text-transform: uppercase;
  font-size: 2rem;
}
.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}
.image {border: 5px solid white;
width: 100%;}
#red {color: red;}